body {
    font-family: 'Inter', sans-serif;
}

.header-all {
  background-image: linear-gradient(rgba(43, 74, 97, 0.87), #2B4A61DE), url(Rectangle\ 104.jpg);
  display: flex;
  background-repeat: no-repeat;
  width: 1440px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 3px solid #FFF;

}

.img {
  background-image: url(avatar-2-6235acaebf926\ 2.png);
  width: 186px;
  height: 72px;
  margin-top: 38px;
  margin-left: 200px;
}

.header-text {

  margin-left: 35px;
  text-decoration: none;
  color: #fff;
  text-align: justify;
font-size: 20px;
font-family: Inter;
font-weight: 300;
}

.header-texts {
  margin-top: 64px;
  margin-left: 140px;
}

.header-text:hover {
  color: #94CFFF;
}

.border {
border-radius: 35px 0px;
border: 2px solid #26C7EA;
background: #0B0E66;
color: #26C7EA;
text-decoration: none;
padding: 9px 38px;
margin-left: 200px;
margin-top: 54px;
margin-bottom: 50px;
}

.Switcher {
font-size: 16px;
margin-left: 10px;
color: #fff;
width: 36px;
height: 20px;
margin-top: 65px;

}

.Switchers {
  margin-left: 49px;
}

.fon {
  background-image: url(Group\ 48\ 1.png);
  width: 1440px;
  height: 740px;
  margin-top: 151px;
  position: absolute;
  left: 0;
  top: 3px;
}

.fon-text {
color: #FFF;
font-size: 20px;
}

.fon-img {
  margin-left: 50px;
}

.fon-all {
  margin-top: 180px;
  margin-left: 204px;
}

.borders {
border-radius: 45px 0px;
border: 3px solid #26C7EA;
background: #0B0E66;
width: 260px;
height: 60px;
color: #26C7EA;
text-decoration: none;
margin-left: 204px;
margin-top: 45px;
text-align: center;
padding: 10px 0;
font-size: 24px;
}

.network {
  display: block;
  margin-left: 1206px;
  margin-top: 25px;
  
}

.networks {
    margin-top: -20.5%;
    position: inherit;
}







